<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/styles.css">

    <title>Voice Chat!!</title>
</head>
<body>


    <div id="users">
<!-- 
        <div id="uuid">
            <h2>
                Username : bigbardia
            </h2>
    
            <p>
                muted
            </p>
        </div> -->
        

    </div>
    

    
    <script src="/static/js/socketio.js"></script>
    <script src="/static/js/index.js"></script>
    





</body>
</html>
